.header {
    color: white;
    margin-top: 35%;
    margin-bottom: 15%;
  }

.description {
  font-family: 'Lato', sans-serif;
  margin-top: 5%;
  font-size: 14px;
}

.title {
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  border: rgba(255, 255, 255, 0.904);
  color: white;
  padding: 5px 8px;
  font-size: 16px;
}
  
.content {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  font-size: 16px;
  color: white;
}
  
.content-wrapper {
  padding: 5px 8px 20px 8px;
}

  
  