/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #111; /* Black */
  background-color: #ecf0f1;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  /* box-shadow: 5px 0px 8px #888888; */
  box-shadow: 5px 0px 8px #515151;
}

/* Remove all default styling from buttons */
button {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  border: 0;
  padding: 0;
  background: none;
}

button:focus {
  outline: none;
}

/* The navigation menu links */
.sidenav button {
  padding: 8px 8px 8px 32px;
  margin: 4% 0% 4% 0%;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  transition: 0.3s;
  font-family: 'Roboto', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav button:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

#logoutbutton {
  position: absolute;
  bottom: 0;
  background-color: #23d5ab;
  font-size: 16px;
  width: 100%;
  padding: 3%;
}

a {
  color: white;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#filterDivider {
  color: gray;
  font-size: 13px;
  padding-bottom: 5px;
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 8px;
  border-bottom: solid 1px rgba(116, 113, 113, 0.5);
}

#accountDivider {
  color: gray;
  margin-top: 110%;
  font-size: 13px;
  padding-bottom: 5px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 8px;
  border-bottom: solid 1px rgba(116, 113, 113, 0.5);
}
