/* Custom round buttons from GeeksforGeeks */
.btn-circle.btn-sm { 
            width: 30px; 
            height: 30px; 
            padding: 6px 0px; 
            border-radius: 15px; 
            font-size: 8px; 
            text-align: center; 
        } 
        .btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 7px 10px; 
            border-radius: 25px; 
            font-size: 10px; 
            text-align: center; 
        } 
        .btn-circle.btn-xl { 
            width: 70px; 
            height: 70px; 
            padding: 10px 16px; 
            border-radius: 35px; 
            font-size: 12px; 
            text-align: center; 
        }

#signupTitle {
    color: white;
    padding: 5% 0% 5% 0%;
}

h5 {
    padding: 0px;
    margin-top: 5%;
}

#householdNameInput {
    margin-bottom: 8%;
    margin-left: 5%;
    width: 79%;
    
}

.member-card {
    border: 1px solid black;
    margin-top: 3%;
    padding: 1% 2% 1% 2%;
}

.firstName {
    position: absolute;
    width: 42%;
}

.lastName {
    float: right;
    width: 49%;
}


