/* Custom round buttons from GeeksforGeeks */
.btn-circle.btn-sm { 
            width: 30px; 
            height: 30px; 
            padding: 6px 0px; 
            border-radius: 15px; 
            font-size: 8px; 
            text-align: center; 
        } 
        .btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 7px 10px; 
            border-radius: 25px; 
            font-size: 10px; 
            text-align: center; 
        } 
        .btn-circle.btn-xl { 
            width: 70px; 
            height: 70px; 
            padding: 10px 16px; 
            border-radius: 35px; 
            font-size: 12px; 
            text-align: center; 
        }

#signupTitle {
    color: white;
    width: 100%;
    padding: 6% 0% 5% 0%;
}

h5 {
    padding: 0px;
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

#householdNameInput {
    margin-bottom: 3%;
    margin-left: 11%;
    width: 79%;
    background-color: white;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 15px;
    
}

.member-card {
    background-color: white;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 15px;
    margin-top: 3%;
    padding: 2% 2% 1% 2%;
}

.firstName {
    position: absolute;
    width: 42%;
}

.lastName {
    float: right;
    width: 49%;
}

.buttons {
    float: right;
    margin-right: 2%;
    margin-bottom: 1%;
}

#housebuttons {
    margin: 3% 5% 5% 13%;
    width: 100%;
    float: clear;
}

#createbutton {
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
}

#cancelbutton {
    margin-left: 10%;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
}