.daycard {
  border-radius: 15px;
}

.card-header h3 {
  font-size: 1.5em;
  margin: 0;
}

button {
  border: none;
}

#show-more {
  float: right;
  /* background-color: #d6d6d6; */
}

.fa-calendar-alt {
  padding-right: 1em;
}

.card-header {
  background-color: #a8a8a8;
}

.first-dashcard {
  background-color: #FFBB7A;
}



.first-dashcard h3 {
  font-weight: 900;
}
