

.card-header h3 {
  font-size: 1.5em;
  margin: 0;
}

button {
  border: none;
}

#show-more {
  float: right;
  color: white;
}

.fa-calendar-alt {
  padding-right: 1em;
}

.card-header {
  background-color: #D1EBF4;
  color: #23A6D5;
}

.first-dashcard {
  background-color: #E73C7E;
  color: white;
}



.first-dashcard h3 {
  font-weight: 900;
}
